{% extends "sqladmin/layout.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px; border-radius: 12px;">
        <h3 class="text-center mb-4" style="color: #003866; font-weight: 700;">Вход в систему</h3>
        
        <form method="POST" action="{{ request.url_for('admin:login') }}" id="login-form">
            <div class="mb-3">
                <input type="text" name="username" class="form-control p-2" placeholder="Логин" required>
            </div>
            <div class="mb-4">
                <input type="password" name="password" class="form-control p-2" placeholder="Пароль" required>
            </div>
            
            <input type="hidden" name="recaptcha_token" id="recaptcha_token">
            <button type="submit" class="btn w-100 p-2" style="background-color: #095D4D; color: white; font-weight: 600;">Войти</button>
        </form>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=6LeE9ZstAAAAAOb7NXYS4mHdMYmKOEv_vijXlLJl"></script>
<script>
    document.getElementById('login-form').addEventListener('submit', function(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6LeE9ZstAAAAAOb7NXYS4mHdMYmKOEv_vijXlLJl', {action: 'login'}).then(function(token) {
                document.getElementById('recaptcha_token').value = token;
                document.getElementById('login-form').submit();
            });
        });
    });
</script>
{% endblock %}